<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Xmee | Login and Register Form Html Templates</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="static/css/fontawesome-all.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="static/css/flaticon.css">
    <!-- Google Web Fonts -->
    <link href="static/css/css.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="static/css/style.css">

    <link rel="stylesheet" href="static/css/toastr.min.css">

    <style>
        .VerifyCode-img {
            margin-top: 5px;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div id="preloader" class="preloader">
    <div class='inner'>
        <div class='line1'></div>
        <div class='line2'></div>
        <div class='line3'></div>
    </div>
</div>
<section class="fxt-template-animation fxt-template-layout3" data-bg-image="">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-12 fxt-none-991">
                <div class="fxt-header">
                    <div class="fxt-transformY-50 fxt-transition-delay-1">
                        <a href="" class="fxt-logo"><img src="static/picture/logo.png" alt="Logo"></a>
                    </div>
                    <div class="fxt-transformY-50 fxt-transition-delay-2">
                        <h1>Welcome To xmee</h1>
                    </div>
                    <div class="fxt-transformY-50 fxt-transition-delay-3">
                        <p>Grursus mal suada faci lisis Lorem ipsum dolarorit more ametion consectetur elit. Vesti at
                            bulum nec odio aea the dumm ipsumm ipsum that dolocons rsus mal suada and fadolorit to the
                            dummy consectetur elit the Lorem Ipsum genera.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12 fxt-bg-color">
                <div class="fxt-content">
                    <div class="fxt-form">
                        <h2>Login</h2>
                        <p class="mb-5">Login into your pages account</p>
                        <div class="form-group">
                            <label for="username" class="input-label">Username</label>
                            <input type="username" id="username" class="form-control" name="username"
                                   placeholder="username" required="required">
                        </div>
                        <div class="form-group">
                            <label for="password" class="input-label">Password</label>
                            <input id="password" type="password" class="form-control" name="password"
                                   placeholder="********" required="required">
                            <i toggle="#password" class="fa fa-fw fa-eye toggle-password field-icon"></i>
                        </div>

                        <div class="form-group">
                            <label for="VerifyCode" class="input-label">VerifyCode</label>
                            <input id="VerifyCode" type="text" class="form-control" name="VerifyCode"
                                   required="required" maxlength="4">
                        </div>

                        <img id="imgVerify" class="VerifyCode-img" src="/static/image/bg.jpg" alt="更换验证码"
                             onclick="getVerify();">


                        <div class="form-group">
                            <div class="fxt-checkbox-area">
                                <div class="checkbox">
                                    <input id="rememberMe" type="checkbox">
                                    <!--                                    <label for="checkbox1">Keep me logged in</label>-->
                                    <label for="rememberMe">Remember me</label>
                                </div>
                                <a href="forgot-password" class="switcher-text">Forgot Password</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" class="fxt-btn-fill" onclick="btnLogin()">Log in</button>
                        </div>
                    </div>
                    <div class="fxt-style-line">
                        <!--                        <h3>Or Login With Email</h3>-->
                        <h3>Or Login With</h3>
                    </div>
                    <ul class="fxt-socials">
                        <li class="fxt-facebook"><a href="#" title="Facebook">Twitter</a></li>
                        <li class="fxt-twitter"><a href="#" title="twitter">Facebook</a></li>
                        <li class="fxt-google"><a href="#" title="google">Google +</a></li>
                        <li class="fxt-linkedin"><a href="#" title="linkedin">Linkedin</a></li>
                    </ul>
                    <div class="fxt-footer">
                        <p>Don't have an account?<a href="register" class="switcher-text2 inline-text">Register</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- jquery-->
<script src="static/js/jquery-3.5.0.min.js"></script>
<!-- Bootstrap js -->
<script src="static/js/bootstrap.min.js"></script>
<!-- Imagesloaded js -->
<script src="static/js/imagesloaded.pkgd.min.js"></script>
<!-- Validator js -->
<script src="static/js/validator.min.js"></script>
<!-- Custom Js -->
<script src="static/js/main.js"></script>

<script src="static/js/toastr.min.js"></script>

<script src="static/js/aes.js"></script>

<script src="static/js/crypto-js.js"></script>


<script>
    toastr.options = {
        closeButton: false, // 是否显示关闭按钮，（提示框右上角关闭按钮）
        debug: false, // 是否使用deBug模式
        progressBar: true, // 是否显示进度条，（设置关闭的超时时间进度条）
        positionClass: 'toast-center-right', // 设置提示款显示的位置
        onclick: null, // 点击消息框自定义事件
        showDuration: "1000", // 显示动画的时间
        hideDuration: "1000", //  消失的动画时间
        timeOut: "2000", //  自动关闭超时时间
        extendedTimeOut: "1000", //  加长展示时间
        showEasing: "swing", //  显示时的动画缓冲方式
        hideEasing: "linear", //   消失时的动画缓冲方式
        showMethod: "fadeIn", //   显示时的动画方式
        hideMethod: "fadeOut" //   消失时的动画方式
    };

    window.onload = function () {
        getVerify();
        $("#username").val(localStorage.getItem("username"));
        $("#password").val(localStorage.getItem("password"));
        /**
         * localStorage取出来是String，
         * String转boolean，字符串有值为true，无值为false
         */
        $("#rememberMe").prop('checked', Boolean(localStorage.getItem("rememberMe")));
    }

    function btnLogin() {
        var username = $("#username").val();
        var password = $("#password").val();
        var verifyCode = $("#VerifyCode").val();

        if (username == "") {
            toastr.warning("请输入用户名！");
            return false;
        }
        if (password == "") {
            toastr.warning("请输入密码！");
            return false;
        }
        if (verifyCode == "") {
            toastr.warning("请输入验证码！");
            return false;
        }
        checkVerify(username, password, verifyCode);
    }

    function getVerify() {
        document.getElementById("imgVerify").src = "http://localhost:8080" + "/getVerify/" + Math.random();
    }

    function checkVerify(u, p, v) {
        var d = {
            inputStr: v
        }
        var data = JSON.stringify(d);
        // console.log(data)
        $.ajax({
            url: "/checkVerify",
            type: "POST",
            contentType: "application/json", //！！要与后端接口对齐！！
            dataType: "json",//预期服务器返回的数据类型
            data: data,
            success: function (result) {
                if (result) {
                    login(u, p);
                } else {
                    getVerify();
                    toastr.error("验证码错误！")
                }
            },
            error: function (result) {
                alert(result);
            }
        });
    }

    function login(u, p) {
        var param = {
            username: encrypt_str(u),
            password: encrypt_str(p)
        }

        var param = JSON.stringify(param);
        // console.log(param)
        $.ajax({
            url: "/doLogin",
            type: "POST",
            contentType: "application/json", //！！与后端对齐！！
            dataType: "json",//预期服务器返回的数据类型
            data: param,
            success: function (result) {
                console.log(result);//打印服务端返回的数据(调试用)
                if (result.code == 200) {
                    localStorage.setItem("token", result.data);
                    toastr.success(localStorage.getItem("token"))
                    if ($("#rememberMe").prop("checked")) {
                        localStorage.setItem("username", u);
                        localStorage.setItem("password", p);
                        localStorage.setItem("rememberMe", "1");
                    } else {
                        localStorage.setItem("username", "");
                        localStorage.setItem("password", "");
                        localStorage.setItem("rememberMe", "");
                    }
                } else {
                    toastr.error(result.message);
                    getVerify();
                }
            },
            error: function (result) {
                toastr.error(result);
            }
        });
    }
</script>

</body>

</html>